altgraph==0.16.1
et-xmlfile==1.0.1
future==0.18.3
jdcal==1.4
lxml==4.3.3
macholib==1.11
openpyxl==2.6.2
pefile==2018.8.8
PyInstaller==3.4
PySide2==5.12.2
python-docx==0.8.10
pywin32-ctypes==0.2.0
shiboken2==5.12.2
